node_modules
dist
coverage
playwright-report
test-results
/blob-report/
/playwright/.cache/

.git
.vscode
.idea

*.local
.env.local
.env.*.local

npm-debug.log*

Dockerfile
docker-compose.yml
.dockerignore
